     * {
        box-sizing: border-box;
     } 

     body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #FFFFFF;
        color: #FFFFFF;
        line-height: 1.5;
     }
      
      #about,
      #contact {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 20px;
        max-width: 700px;
        margin: 20px auto;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      #about h2,
      #contact h2 {
        color: #660046;
        border-bottom: 2px solid #660030;
        padding-bottom: 6px;
        margin-top: 0;
        margin-bottom: 16px;
      }

      #about p,
      #contact label {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 0;
        padding: 6px 0;
        border-bottom: 1px solid #eb1aa9;
      }

      #about strong,
      #contact label>span {
        min-width: 180px;
        color: #a31983;
        font-weight: 600;
        text-align: right;
        padding-right: 16px;
        flex-shrink: 0;
      }

      @media (max-width: 600px) {
        #about p,
        #contact label {
            flex-direction: column;
            align-items: flex-start;
        }

        #about strong,
        #contact label>span {
            text-align: left;
            padding-right: 0;
            margin-bottom: 2px;
        }

        #contact input,
        #contact textarea,
        #contact button {
            width: 100%;
        }
      }

        #contact input,
        #contact textarea {
          flex: 1;
          border: 1px solid #e66eb0;
          border-radius: 6px;
          padding: 8px;
          color:rgb(205, 41, 166);
          font-weight: normal;
          margin: 0;
          box-sizing: border-box;
        }

        #contact button {
          margin-top: 10px;
          display: inline-block;
          padding: 10px 24px;
          font-size: 16px;
          border-radius: 6px;
          cursor: pointer;
          border: none;
          transition: all 0.3s ease;
          margin-right: 8px;
        }

        #contact button[type="submit"] {
          background-color: rgb(213, 17, 108);
          color:#FFFFFF;
          font-weight: 600;
        }

        #contact button[type="reset"] {
          background-color: #ea0909d8;
          color: #FFFFFF;
          font-weight: 600;
        }

        #contact button[type="submit"]:hover {
          background-color: rgb(162, 11, 124);
          transform: translateY(-1px);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        }

        #contact button[type="reset"]:hover {
          background-color: rgb(165, 19, 48);
          transform: translateY(-1px);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        }
    